/***********************************************************************
General
*************************************************/
.wrap{
  width: 93%;
  margin: auto;
}
.profile-picture{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}


/*********************************************************************
Navigation
***********************************************************************/

.top-bar{
  background-color:#6d3b3b;
}


.top-bar ul{
  border-style:none;
  background-color: transparent;
}

.top-bar li{
  background-color:#6d3b3b;
}

h4{
  color: white;
}

/**********************************************************************
Header
**********************************************************************/

/**********************************************************************
Main
***********************************************************************/

.images{
  width: 200px;
  height:300px;
}

h3{
  font-family: 'Asap';
  font-size: 32px;
}

/**********************************************************************
Footer
*********************************************************************/
.footer{
  background-color: rgba(220, 220, 220, 0.6);
  color: black;
  text-align: center;

}
.images{
  width:95%;
  margin:0% auto;
  }

.pic{
  height:15em;
}

a.hover{
  color: #000000;
}

p{
  font-family:'Asap';

}
